.board-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;

  .editor-container {
    flex: 1;
    min-height: 0;
    overflow: hidden;
  }

  &.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;

    .error-container {
      padding: calc(5 * var(--space-factor));
      text-align: center;

      h2 {
        color: var(--color-danger);
        margin-bottom: calc(2.5 * var(--space-factor));
      }

      p {
        color: var(--color-gray-70);
        margin-bottom: calc(5 * var(--space-factor));
      }
    }
  }
}
